.col {
    float: left;
}

.col.m3 {
    width: 25%;
}

.col.m9 {
    width: 75%;
}

#frame{
    display: grid;
}
.navigatie  {grid-column: 1/3;  grid-row: 1; height: 10vh;}
.huis       {grid-column: 2;     grid-row: 2;}
.slaapplek  {grid-column: 1;     grid-row: 2;}

body{
    background: #fffffd ; /*bright white*/
    font-family: Arial, Arial, SansSerif;
    padding: 0;
}

.button{
    background: #a9a9a9; /*bright white*/
    border: 1px solid #000000; /*black*/
    border-radius: 4px;
    color: #000000; /*black*/
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
}

#logoImage{
    float: left;
    height: 5vh;
    width: 5vw;
}

#noImage{
    float: right;
    height: 5vh;
    width: 5vw;
}
#loginDiv{
    background: #789440; /*Green*/
    width: 300px;
    height: 300px;
    margin: auto;
    border: 2px solid #a9a9a9; /*Darkgrey*/
    text-align: center;
}

#popup-HuisToevoegen{
    display: none;
    position: absolute;
    top: 40%;
    width: 25vw;
    height: 25vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:  auto;
    border: 1px solid black;
}

#popup-StudentToevoegen{
    display: none;
    position: absolute;
    top: 40%;
    width: 25vw;
    height: 25vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:  auto;
    border: 1px solid black;
}
#huis{
    float: right;
}

#slaapplek{
    float: left;
}
#popup-StudentInfo{
    display: none;
    position: absolute;
    top: 40%;
    width: 25vw;
    height: 25vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:  auto;
    border: 1px solid black;
}


