@media only screen and (min-width: 750px) {
    #frame{
        display: grid;
    }
    .navigatie {grid-column: 1/3;  grid-row: 1; /*height: 10vh;*/}
    .huis       {grid-column: 2;     grid-row: 2;}
    .slaapplek  {grid-column: 1;     grid-row: 2;}
}
.col {
    float: left;
}

.col.m3 {
    width: 25%;
}

.col.m9 {
    width: 75%;
}

body{
    background: floralwhite ; /*bright white*/
    margin: 0 ;
    font-family: Arial, Arial, SansSerif;
}

.button{
    background: #a9a9a9; /*bright white*/
    border: 1px solid #000000; /*black*/
    border-radius: 4px;
    color: #000000; /*black*/
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
}
.exitButton{
    float: right;
    background: #a9a9a9; /*bright white*/
    border: 1px solid #000000; /*black*/
    border-radius: 4px;
    color: #000000; /*black*/
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
}
.huis{
    background: #789440; /*Green*/
    border: 2px solid #a9a9a9;
    margin: 2vh 3vw 2vh 1vw;
    padding: 2vh 3vw 2vh 3vw;
    width: 39vw;
    /*text-align: center;*/
}
#addHuis{
    float: right;
}
#deleteHuis{
    float: right;
}
.slaapplek{
    background: #789440; /*Green*/
    border: 2px solid #a9a9a9; /*Darkgrey*/
    margin: 2vh 1vw 2vh 3vw;
    padding: 2vh 3vw 2vh 3vw;
    width: 39vw;
    /*text-align: center;*/
}
.navigatie{
    background: #789440; /*Green*/
    float: right;
    height: 12vh;


    width: 100vw;
}

#navigatieRechts{
    background: #789440; /*Green*/
    float: right;
    height: 12vh;
    width: 49vw;
}

#navigatieLinks{
    background: #789440; /*Green*/
    float: left;
    height: 12vh;
    width: 49vw;

}

#home{
    border-radius: 5px;
    color: black;
    cursor: pointer;
    float: left;
    height: 15vh;
    margin: 2vh 2vw 2vh 3vw;

    text-decoration: none;
    width: 30vw;
}

#noUser{
    border: 2px solid black;
    float: right;
    height: auto;
    width: 100%;
}
#studentPop{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    float: right;
    height: 5vh;
    margin: 2vh 3vw 2vh 2vw;
    width: 5vw;
}
#uitloggen{
    display: inline;
    float: right;
}
#nieuweStudent{
    display: inline;
    float: right;
}
#loginDiv{
    background: #789440; /*Green*/
    border: 2px solid #a9a9a9; /*Darkgrey*/
    height: 300px;
    margin: auto;
    text-align: center;
    width: 300px;
}

#popup-HuisToevoegen{
    background: floralwhite;
    border: 2px solid #a9a9a9;
    bottom: 0;
    display: none;
    height: 35vh;
    left: 0;
    margin:  auto;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
}
#popup-huisDelete{
    background: floralwhite;
    border: 2px solid #a9a9a9;
    bottom: 0;
    display: none;
    height: 35vh;
    left: 0;
    margin:  auto;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
}

#popup-StudentToevoegen{
    background: floralwhite;
    border: 2px solid #a9a9a9;
    bottom: 0;
    display: none;
    height: 35vh;
    left: 0;
    margin:  auto;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
}

#popup-StudentInfo{
    background: floralwhite;
    border: 2px solid #a9a9a9;
    bottom: 0;
    display: none;
    height: 35vh;
    left: 0;
    margin:  auto;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
}


